.button{
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    padding: 10px 20px;
    color: white;
}
.primary{
    background-color: blue;
    
}
.danger{
    background-color: rgb(192, 59, 59);    
}
.success{
    background-color: green;
}
.warning{
    background-color: orangered;
}