.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navButton {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.navButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pageButton {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.pageButton:hover {
    background-color: #f0f0f0;
}

.active {
    background-color: #0070f3;
    color: #fff;
}
