.cart_component{
    margin:50px;
    width: 250px;
    background-color: red;
    border: 1px solid rgb(204, 200, 200);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(207, 203, 203);
}
.cart-bottom{
    padding: 10px;
    text-align: center;
}
.cart-img{
    padding: 10px;
    border-radius: 5px;
}
.title_cart{
    font-size: 16px;
    font-weight: 600;
}